@import "variables";
@import "utils";
@import "fonts";
@import "materialUIReset";

.container {
  max-width: $containerMaxWidth;
  margin-bottom: 15px;
  font-family: "ProximaNovaRegular", sans-serif;

  .topHeader {
    height: $headerHeight;

    .logo {
      margin-top: 20px;
    }
  }

  .pageBody {
    h5 {
      font-size: 16px;
    }

    .priceInfoContainer {
      border: 1px solid #e7e7e7;

      .priceInfoHolder {
        padding: 0 40px;

        .imageContainer {
          padding: 35px 0;

          .cosmetic {
            display: block;
            margin: 0 auto;
          }
        }

        .cosmeticsInfo {
          padding: 20px 0;
          margin: 10px 0;
          border-top: 1px solid #e7e7e7;
        }
      }
    }
    .emailNoteContainerWeb {
      margin-top: 30px;
    }
    .rightSideContainer {
      padding-left: 70px;

      .inputLabel {
        font-size: 23px;
        margin-top: 30px;

        label {
          margin-bottom: 0;
        }
      }

      .discountsText {
        margin-top: 35px;
      }

      .creditCardSecure {
        padding-bottom: 20px;
        background-color: #fafafa;
        margin-top: 20px;

        .cardContainer {
          min-width: 152px;
          margin-top: 26px;
          margin-right: 10px;
          float: right;

          .card {
            width: 34px;
            height: 21px;
            margin-left: 4px;
            filter: grayscale(100%);
          }

          .selected {
            filter: none;
          }
        }

        .lockImg {
          margin: 20px 10px 20px 20px;
        }
      }

      .actionsContainer {
        margin-top: 30px !important;

        .backLink {
          float: right;
          color: #0004;
          text-decoration: underline;
          font-family: Helvetica, sans-serif;
          font-weight: bold;
          margin: 15px 30px 0 0;
        }

        .buyNow {
          width: 248px;
          height: 50px;
          background-color: #ff458f !important;
          float: right;
          font-size: 16px;
        }
      }
    }

    .orderImg {
      width: 100%;
      margin-bottom: 30px;
    }

    .onlyWeb {
      display: block;
    }

    .onlyMobile {
      display: none;
    }
  }


  /* MOBILE */

  @media screen and (max-width: 768px) {
    .topHeader {
      height: $headerHeightMobile;

      .logo {
        margin: 0 auto;
        margin-top: 20px;
        display: block;
      }
    }

    .pageBody {
      .priceInfoContainer {
        border: none;
        .monthlySubscriptionMobile {
          text-align: center;

          h1 {
            font-size: 20px;
            text-align: center;
          }

          h5 {
            font-size: 15px;
          }
        }

        .priceInfoHolder {
          padding: 0;
        }
      }

      .rightSideContainer {
        padding-left: 0;

        .inputLabel {
          text-align: center;
        }

        .creditCardSecure {
          padding: 15px;
          margin: 7px;

          .lockImg {
            margin: 0 10px 0 0;
          }

          .cardContainer {
            min-width: 152px;
            margin-top: 26px;
            margin-right: 10px;
            float: left;

            .card {
              width: 34px;
              height: 21px;
              margin-left: 4px;
              filter: grayscale(100%);
            }

            .selected {
              filter: none;
            }
          }
        }

        .subscriptionType {
          display: block;
          margin: 20px 0;
          padding: 0;

          p {
            text-align: center;
          }

          .gender {
            position: relative;
            min-height: 170px;

            img {
              position: absolute;
              top: 20px;
              left: 55px;
            }

            .genderCheckBox > span {
              flex-direction: column !important;
              position: absolute;
              top: 75px;
              left: 95px;
            }
          }
        }

        .actionsContainer {
          margin-top: 10px !important;

          .buyNow {
            width: 95%;
            height: 50px;
            margin: 0 auto;
          }
        }

        .emailNoteContainerMobile {
          margin: 15px;
          padding: 15px 15px 15px 0;
        }
      }

      .onlyWeb {
        display: none;
      }

      .onlyMobile {
        display: block;
      }
    }
  }
}