.container {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 15px;
  /* MOBILE */ }
  .container .borderBlack {
    border: 1px solid black; }
  .container .logo {
    margin-top: 20px; }
  .container .pageBody {
    margin-top: 40px; }
  .container .leftSide {
    border: 1px solid #e7e7e7; }
  .container .order {
    border: 1px solid red; }
  .container .title {
    marginTop: 0; }
  .container .orderImg {
    width: 100%; }
  .container .cosmetic {
    display: block;
    margin: 0 auto; }
  .container .cosmeticsInfo {
    margin: 10px 0;
    border-top: 1px solid #e7e7e7; }
  .container .cardContainer {
    margin: 26px 0 0 50px; }
  .container .card {
    width: 34px;
    height: 21px;
    margin-left: 4px; }
  .container .mobileText {
    margin-top: 45px; }
  .container .creditCardSecure {
    height: 230px;
    background-color: #fafafa; }
  .container .lockImg {
    margin: 20px; }
  .container .monthToMonthMobile {
    display: none; }
  .container .monthToMonthWeb {
    display: block; }
  .container .orderContainerMobile {
    display: none; }
  .container .orderContainerWeb {
    display: block; }
  .container .subscriptionType {
    display: none; }
  .container .mobileHide {
    display: block; }
  .container .webHide {
    display: none; }
  .container .buyNow {
    width: 248px;
    height: 50px;
    background-color: #ff458f !important;
    float: right;
    margin-top: 10px !important; }
  @media screen and (max-width: 768px) {
    .container {
      /*.cardContainer {*/
      /*margin: 5px 0 0 0;*/
      /*}*/
      /*.genderCheckBox {*/
      /*font-size: 14px !important;*/
      /*}*/ }
      .container .logo {
        margin: 0 auto;
        margin-top: 10px;
        display: block; }
      .container .monthToMonthMobile {
        display: block; }
      .container .monthToMonthMobile h1 {
        font-size: 18px;
        text-align: center; }
      .container .monthToMonthMobile h5 {
        font-size: 12px; }
      .container .lockImg {
        margin: 0; }
      .container .monthToMonthWeb {
        display: none; }
      .container .orderContainerMobile {
        display: block;
        margin-top: 15px !important; }
      .container .orderContainerWeb {
        display: none; }
      .container .subscriptionType {
        display: block;
        margin: 20px 0; }
      .container .mobileHide {
        display: none; }
      .container .webHide {
        display: block; }
      .container .MuiFormControl-marginNormal-42 {
        margin: 0 !important; }
      .container .creditCardSecure {
        height: 325px; }
      .container .buyNow {
        width: 95%;
        height: 50px;
        margin: 0 auto;
        background-color: #ff458f !important;
        float: right;
        margin-top: 10px !important; }
      .container .gender {
        position: relative;
        min-height: 170px; }
      .container .gender > img {
        position: absolute;
        top: 20px;
        left: 55px; }
      .container .genderCheckBox > span {
        flex-direction: column !important;
        position: absolute;
        top: 75px;
        left: 95px; } }
